@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap");

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

/* a {
  display: inline-block;
} */

.container {
  width: 30%;
  margin-top: 5rem;

  border-radius: 2.4rem;
  position: relative;

  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.container img {
  width: 100%;
  border-radius: 2.4rem;
}

.save {
  padding: 1.2rem 2.4rem;
  background-color: red;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 2.4rem;

  position: absolute;
  top: 2%;
  right: 5%;

  transform: translate(0%, -200%);
  transition: all 0.5s;

  /*display: none;*/
}

.save:hover {
  background-color: #ad081b;
  cursor: pointer;
}

.container:hover .save {
  transform: translate(0%, 0%);
  /* display: block; */
}

.bottom-links {
  width: 90%;
  height: 5%;
  position: absolute;
  bottom: 2%;
  margin: 0 5%;

  display: grid;
  grid-template-columns: 64% 8% 8%;
  gap: 10%;
  transform: translate(0%, +200%);
  transition: all 0.5s ease-in-out;
}

.container:hover .bottom-links {
  transform: translate(0%, 0%);
}

.bottom-links a {
  text-decoration: none;
}

.visit {
  cursor: pointer;
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3.6rem;
  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;

  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding-left: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.visit p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-overflow: ellipsis;
}

.visit ion-icon {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: bold;
}

.share,
.menu {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.share ion-icon,
.menu ion-icon {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: bold;
}

.bottom-links a button:hover {
  background-color: #e1e1e1;
}

/* .container:hover .bottom-links {
  transform: translate(0%, 0%);
}

.visit-link,
.share-link,
.menu-link {
  text-decoration: none;
}

ion-icon {
  width: 2rem;
  height: 2rem;
}

p {
  font-size: 1.6rem;
}

.visit {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  padding: 0rem 1.2rem;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 3.6rem;
}

.share,
.menu {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  background-color: white;
  color: black;
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
} */
