@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  text-align: center;
  /* margin: 1.8rem 4.8rem; */
  margin: 2% 5%;
}

main {
  /* margin: 1.8rem 4.8rem; */
  margin: 1% 4%;
}

.title {
  font-size: 4.8rem;
  margin-bottom: 1.8rem;
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  color: #777;
  margin-bottom: 1.8rem;
}

.header-links {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  margin-bottom: 4.8rem;
}

.related {
  font-size: 1.8rem;
  color: #777;
  font-weight: 500;
}

.related-list {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}

.related-list li a {
  text-decoration: none;
  color: #e64980;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.related-list li:hover a {
  color: #a61e4d;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 4.8rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2.8rem;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #777;
  transition: all 0.3s;
}

.navbar-links li {
  transition: all 0.3s;
  border-radius: 2.4rem;
  padding: 0.8rem 1.6rem;
}

.navbar-links li:hover {
  cursor: pointer;
  background-color: rgba(119, 119, 119, 0.2);

  transform: scale(1.1);
}

.navbar-links li:hover a {
  font-weight: 500;
  color: black;
}

.navbar-button {
  width: 8%;
  padding: 0.8rem 0;
  border: 2px solid rgba(119, 119, 119, 0.2);
  border-radius: 2.4rem;
  background-color: white;
  font-size: 2rem;

  transition: all 0.3s;
}

.navbar-button:hover {
  cursor: pointer;
  border: none;
  box-shadow: inset 0 0 2px 4px #ffd8a8;
  font-weight: 500;

  transform: scale(1.2);
}

.main-first-line,
.main-second-line {
  display: flex;
  gap: 4.8rem;

  margin-bottom: 4.8rem;
}

.line-item {
  flex: 1;
  flex-basis: 0;

  border-radius: 1.8rem;

  transition: all 0.5s ease-in-out;
}

.line-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.item-img img {
  width: 100%;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
}

.item-bottom {
  margin-top: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-bottom:hover {
  cursor: pointer;
}

.bottom-left {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.circle {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

.name {
  font-size: 1.6rem;
  font-weight: 700;

  transition: all 0.3s ease-in-out;
}

.bottom-left:hover .circle,
.bottom-left:hover .name {
  transform: scale(1.1);
}

.category {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 0.4rem;
  background-color: rgba(119, 119, 119, 0.4);
  padding: 0.4rem;

  transition: all 0.3s;
}

.category:hover {
  cursor: pointer;
  background-color: #ffd8a8;
}

.bottom-right {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.likes,
.views {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  font-size: 1.4rem;
  font-weight: 700;
  color: rgba(119, 119, 119, 0.6);

  transition: all 0.8s;
}

.likes ion-icon,
.views ion-icon {
  font-size: 2.2rem;
  transition: all 0.3s;
}

.likes:hover ion-icon {
  color: red;
}

.likes p,
.views p {
  text-decoration: none;
  transition: all 0.3s;
}

.likes:hover p {
  color: black;
}

.views:hover ion-icon {
  color: #1864ab;
}

.views:hover p {
  color: black;
}

.boosted {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgba(119, 119, 119, 0.6);
}

.circle--1 {
  background-color: bisque;
}
.circle--2 {
  background-color: #1864ab;
}
.circle--3 {
  background-color: #e64980;
}
.circle--4 {
  background-color: black;
}
.circle--5 {
  background-color: chartreuse;
}
.circle--6 {
  background-color: darkgreen;
}
.circle--7 {
  background-color: gold;
}
.circle--8 {
  background-color: coral;
}
